/*
 * 重置elementUI table 的某些样式
 *
 */

.ec-table {
  .cell {
    font-size: 12px !important;
  }
  th {
    background-color: white !important;

    > .cell {
      line-height: 42px;
    }
  }
  .el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
    background-color: white !important;
    font-weight: normal !important;
    color: #757575 !important;
  }
}

.ec-table-page {
  .cell {
    font-size: 12px !important;
  }
  th {
    background-color: #fafafa !important;
    border-right: transparent;

    > .cell {
      line-height: 42px;
    }
  }
  .el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
    background-color: #fafafa !important;
    font-weight: normal !important;
    color: #37474f !important;
  }
}
